In [1]:
a = 10
b = 20
print(a+b)
# storing values in variable

30

In [2]:
#data type
a = 10
print(type(a))

b = "Milky"
print(type(b))

<class 'int'>
<class 'str'>

In [3]:
#casting = converting one data type into another data type
a = "10"
b = "20"
c = a+b
print(c)

a = int("10")
b = int("20")
c = a+b
print(c)

1020
30

In [4]:
# getting input from user
a = int(input())
b = int(input())
c = (a+b)
print(c)

 2
 5

7

In [11]:
# data type
name = "Dheeksha"
age = 20
mark = 90.9
is_std = True
lpy=[1,2,3,"Hi"]
tpy=(15,10,4,1,"ðŸ’›ðŸ©µ")
spy={1,2,3,"DS","DMVS"}
dpy={"Name":"Milky"}
print(type (name))
print(type (age))
print(type (mark))
print(type (is_std))
print(type (lpy))
print(type (tpy))
print(type (spy))
print(type (dpy))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>