In [8]:
for i in "apple":
    print(i,end=" ,")

a ,p ,p ,l ,e ,

In [9]:
for s in "Dheeksha":
    print(s,end=" ðŸ©µðŸ’› ")

D ðŸ©µðŸ’› h ðŸ©µðŸ’› e ðŸ©µðŸ’› e ðŸ©µðŸ’› k ðŸ©µðŸ’› s ðŸ©µðŸ’› h ðŸ©µðŸ’› a ðŸ©µðŸ’›

In [2]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [3]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [4]:
for i in range(2,11,3):
    print(i)

2
5
8

In [11]:
for i in range(1,11):
    print("15x", i , "=",i*15)

15x 1 = 15
15x 2 = 30
15x 3 = 45
15x 4 = 60
15x 5 = 75
15x 6 = 90
15x 7 = 105
15x 8 = 120
15x 9 = 135
15x 10 = 150

In [6]:
a = int(input("Enter the number"))
b = int(input("Enter the number"))
for i in range(a+1,b):
    print(i)

Enter the number 3
Enter the number 15

4
5
6
7
8
9
10
11
12
13
14

In [7]:
# 1 to 10 even number
for i in range(1,11):
    if(i%2==0):
        print(i)

2
4
6
8
10

In [13]:
 #count of even number
count = 0
for i in range(1,11):
    if(i%2==0):
        count = count+1
print(count)

5

In [9]:
num_odd = 0
num_even = 0
for i in range(50,101):
    if(i%2==0):
        num_even = num_even+1
    else:
        num_odd = num_odd+1
print("The even count is", num_even)
print("The odd count is", num_odd)

The even count is 26
The odd count is 25

In [15]:
count = 0
for i in range(1,100):
    if(i%3==0 and i%5==0):
        count = count+1
print("The numbers are divisible by 3 and 5 is", count)

The numbers are divisible by 3 and 5 is 6

In [12]:
sum =0
for i in range(1,6):
    sum = sum+i
print(sum)

15

In [13]:
a = []
print("Enter the number")
for i in range(5): 
    num = int(input("Enter the value"+str(i+1)))#casting bcoz str can't combine with int
    a.append(num)
print(a)

sum = 0
for i in a:
    sum = sum+i
print(sum)

Enter the number

Enter the value1 4
Enter the value2 6
Enter the value3 9
Enter the value4 8
Enter the value5 5

[4, 6, 9, 8, 5]
32

In [14]:
n = int(input("Enter the number"))
num_total = 0
#print("The first" ,n, "natural numbers are:")
for i in range(1,n+1):
    print(i,end=' ')
    num_total += i
print("The sum natural numbers are ",num_total)

Enter the number 7

1 2 3 4 5 6 7 The sum natural numbers are  28

In [15]:
n = int(input("Enter the terms"))
#num_total = 0
for i in range(1,n+1):
    print("Number is :",i, "and cube of the",i, "is:",i*i*i)

Enter the terms 5

Number is : 1 and cube of the 1 is: 1
Number is : 2 and cube of the 2 is: 8
Number is : 3 and cube of the 3 is: 27
Number is : 4 and cube of the 4 is: 64
Number is : 5 and cube of the 5 is: 125

In [16]:
n = 5
for i in range(n, 0, -1):
    print(i)

5
4
3
2
1

In [17]:
n = 5
for i in range(n, 0,-1):
    print("*" * i)

*****
****
***
**
*

In [18]:
n = 5
for i in range(1,n+1):
    print("*" * i)

*
**
***
****
*****