In [1]:
a = {11,12,13,14,15}
a.add(16)# add in the first 
print(a)

{16, 11, 12, 13, 14, 15}

In [2]:
a = {11,12,13,14,15}
a.remove(13)#the given number will remove
print(a)

{11, 12, 14, 15}

In [3]:
a = {11,12,13,14,15}
a.pop()
print(a)

{12, 13, 14, 15}

In [4]:
a = {11,12,13,14,15}
a.update([16,17,18])
print(a)

{16, 17, 18, 11, 12, 13, 14, 15}

In [5]:
a = {11,12,13,14,15}
b = {11,23,15,12,24}

print(a.union(b))#union combine 2 sets

{11, 12, 13, 14, 15, 23, 24}

In [6]:
a = {11,12,13,14,15}
b = {11,23,15,12,24}
print(a.intersection(b))#intersection gives the common value in both set

{11, 12, 15}

In [7]:
a = {11,12,13,14,15}
b = {11,23,15,12,24}
print(a.difference(b))#difference give uncommon element that in set a only not in set b

{13, 14}

In [8]:
a = {11,12,13,14,15}
b = {11,23,15,12,24}
print(b.difference(a))

{24, 23}

In [9]:
uber_cites = {"Chennai","Bangalore","Delhi","Hydrabad","Chennai","Bangalore"}
print(uber_cites)

{'Bangalore', 'Chennai', 'Hydrabad', 'Delhi'}

In [10]:
uber_cites1 = {"Chennai","Bangalore","Delhi","Hydrabad","Chennai","Bangalore"}
uber_cites2 = {"Mumbai","Jammu","Delhi"}
print(uber_cites1.union(uber_cites2))

{'Chennai', 'Hydrabad', 'Delhi', 'Bangalore', 'Jammu', 'Mumbai'}

In [11]:
uber_cites1 = {"Chennai","Bangalore","Delhi","Hydrabad","Chennai","Bangalore"}
uber_cites2 = {"Mumbai","Jammu","Delhi"}
print(uber_cites1.intersection(uber_cites2))

{'Delhi'}

In [12]:
uber_cites1 = {"Chennai","Bangalore","Delhi","Hydrabad","Chennai","Bangalore"}
uber_cites2 = {"Mumbai","Jammu","Delhi"}
print(uber_cites1.difference(uber_cites2))

{'Bangalore', 'Chennai', 'Hydrabad'}

In [13]:
uber_cites1 = {"Chennai","Bangalore","Delhi","Hydrabad","Chennai","Bangalore"}
uber_cites2 = {"Mumbai","Jammu","Delhi"}
print(uber_cites2.difference(uber_cites1))

{'Mumbai', 'Jammu'}

In [14]:
uber_cites1 = {"Chennai","Bangalore","Delhi","Hydrabad","Chennai","Bangalore"}

uber_cites1.add("Jaipur")
print(uber_cites1)

{'Chennai', 'Jaipur', 'Hydrabad', 'Delhi', 'Bangalore'}

In [15]:
uber_cites1 = {"Chennai","Bangalore","Delhi","Hydrabad","Chennai",}
uber_cites1.remove("Chennai")
print(uber_cites1)

{'Bangalore', 'Hydrabad', 'Delhi'}

In [16]:
my_set = {1,2,3}
print(my_set) 
my_set.remove(2)
my_set.add(99)
print(my_set)

{1, 2, 3}
{99, 1, 3}

In [17]:
my_set = {1,2,3}
print(my_set) 
my_set.discard(8)#if their is no number 

print(my_set)

{1, 2, 3}
{1, 2, 3}