In [1]:
# Get input for variable name and age
name = input("Enter the Name")
age = int(input("Enter the Age"))
print("My Name is", name)
print("My Age is", age)

Enter the Name Dheeksha
Enter the Age 20

My Name is Dheeksha
My Age is 20

In [5]:
num_1 = int(input("Enter the num 1"))
num_2 = int(input("Enter the num 2"))
num_3 = int(input("Enter the num 3"))
mul_num = (num_1*num_2*num_3)
add_num = (num_1+num_2+num_3)
div_num = (mul_num/add_num)
print("The multiply num is",mul_num)
print("The addition num is",add_num)
print("The division num is",div_num)

Enter the num 1 80
Enter the num 2 70
Enter the num 3 20

The multiply num is 112000
The addition num is 170
The division num is 658.8235294117648

In [3]:
std_name = input("Enter the name")
std_score = int(input("Enter the score"))
std_department = input("Enter the department")
divide = (std_score/10)
print("My Name is",std_name)
print("My Score is",divide,"/10")
print("My Department is",std_department)

Enter the name Mugun
Enter the score 99
Enter the department ECE

My Name is Mugun
My Score is 9.9 /10
My Department is ECE

In [4]:
a = true
print(a)

NameError: name 'true' is not defined

In [6]:
#inside the the quotes the values are taken as str so it is called as conactentaion
x = "4"
y = "15"
print(x+y)

415

In [7]:
price = 99.15
print(price,type(price))

99.15 <class 'float'>

In [8]:
name = "Dheeksha"
print(name,type(name))

Dheeksha <class 'str'>

In [9]:
x = "12"
y = "1"
print(type(x))
print(type(y))

<class 'str'>
<class 'str'>

In [10]:
x = "12"
y = "1"
print(type(x))
print(int(x))
print(type(y))
print(int(y))
print(int(x)+int(y))

<class 'str'>
12
<class 'str'>
1
13

In [11]:
x = "10.5"
print(type(x))
print(float(x))
print(type(float(x)))

<class 'str'>
10.5
<class 'float'>

In [13]:
a = 20
b = 3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)



# Arithmatic operator

23
17
60
6.666666666666667
2
8000
6

In [6]:
a = 40
b = 30

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

#camparison operator

False
True
True
False
True
False

In [14]:
a = 4
a+=a

print(a)

8

In [15]:
x = True
y = False
print(x and y)
print(x or y)
print(not x)

False
True
False

In [7]:
amount = 1200
tax = amount*0.18
total = amount + tax
print(tax)
print(total)
if total>1000:
    discount = total*0.10
    print(discount)
    total-=discount
print(total)

216.0
1416.0
141.6
1274.4

string

In [17]:
cricketer = "Hardik Pandya"
print(cricketer.lower())
print(cricketer.upper())
print(cricketer.capitalize())#only first letter can become capital

hardik pandya
HARDIK PANDYA
Hardik pandya

In [18]:
mobile_no = "9876543223"
masked = mobile_no[2:]
masked1 = mobile_no[:2]
masked2 = mobile_no[-2:]

print(masked)
print(masked1)
print(masked2)

76543223
98
23

In [19]:
mobile_no = "9876543223"
masked = mobile_no[:2]+"******"+mobile_no[-2:]
print(masked)

98******23

In [20]:
pet_home = "MilKY reaLly YoU are The puRe SouL TO mE"
pet_home1 = "PandA yOur The NaughtY PubbY"
formatted = f"{pet_home.title()} and {pet_home1.title()}"
print(formatted)

Milky Really You Are The Pure Soul To Me and Panda Your The Naughty Pubby

In [22]:
location = "Jammu and Kashmir"
fixed_location=location.replace( "Jammu and Kashmir","Delhi")
print(fixed_location)

Delhi

In [23]:
message="your uber booking id is:UB123456.Please keep it safe"
booking_id=message.split(".")[0]
booking_id1=message.split(":")[1]
booking_id2=message.split("id")[1]
booking_id3=message.split(":")[1].split(".")[0]
print(booking_id)
print(booking_id1)
print(booking_id2)
print(booking_id3)

your uber booking id is:UB123456
UB123456.Please keep it safe
 is:UB123456.Please keep it safe
UB123456

In [10]:
#format
name = "Dheeksha"
age = 20
print("My Name is {} and My age is {}.".format(name,age))
print("My Name is {0} and My age is {1}.".format(name,age))

My Name is Dheeksha and My age is 20.
My Name is Dheeksha and My age is 20.

In [25]:
# String Search (in)
promo_msg = "use zomato100 to get 100 off on your first order"
if "zomato100" in promo_msg:
    print("Offer applied")

Offer applied

In [2]:
a=2**5
print(a)

32

In [1]:
dad = input("Father name : ")
mom = input("Mother name : ")
me = input("Her name : ")
bro1 = input("Brother name1 : ")
bro2 = input("Brother name2 : ")
print(f"My Father Name is {dad}/n My Mother Name is {mom}/nMy Name is {me}/n My first Younger brother name is {bro1}/n My second Younger brother name is {bro2}")

Father name :  Markandan.K
Mother name :  Vijayalakshmi.M
Her name :  Dheeksha.PM
Brother name1 :  Mugundhan.PM
Brother name2 :  VidhyaSagar.M

My Father Name is Markandan.K/n My Mother Name is Vijayalakshmi.M/nMy Name is Dheeksha.PM/n My first Younger brother name is Mugundhan.PM/n My second Younger brother name is VidhyaSagar.M